main.mdl-layout__content{
    /* width: 30%; */
    overflow-x: visible;
    overflow-y: visible;
}

.main-logo{
    color: white;
    text-align: center;
}
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
  }

  .material-icons {
      font-size: 50px;
      margin-top: 5px;
  }

  .mdl-layout.form-group {
      margin-top: 6%;
      height: 800px;
	align-items: center;
  justify-content: center;
}

footer.mdl-mini-footer {
    margin-top: 830px;
    padding: 20px;
    margin-bottom:0;
}
.mdl-layout {
    height: auto;
}

.mdl-card.mdl-shadow--6dp {
    margin-top: 15px;
}
/* .mdl-layout__content {
	padding: 24px;
	flex: none;
} */